<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ manga.title }}</title>
</head>
<body>
    <h1>{{ manga.title }}</h1>
    <p>{{ manga.description }}</p>
    <img src="{{ manga.cover_image.url }}" alt="{{ manga.title }} cover">

    <h2>Chapters:</h2>
    <ul>
        {% for chapter in manga.chapters.all %}
        <li><a href="{% url 'chapter_detail' chapter.id %}">{{ chapter.title }}</a></li>
        {% endfor %}
    </ul>
    
</body>
</html>
